main{
    .grid-container{

        .content{

            .text-content{
                color:$dark-text-color;
                font-family: $secondary-font-family;
                font-weight: 300;
                text-align: center;

                .underlined{
                    
                    text-decoration: underline 1px $underline-color;
                    text-underline-offset: 8px;
                    padding-bottom:2px;               

                  

                }

                    
                }


            }
        }
    }
