@media (min-width:$desktop-width) {

    .wrapper {
        @include desktop-grid;
        grid-template-rows: 423px 60px;
        position: relative;

        .hero {

            .container {

                header {

                    .menu-btn {
                        position: absolute;
                        top: 0;
                        left: 548px;
                    }
                }

                .larger {
                    position: relative;
                }

                .larger::after {
                    @include division;
                    width: 280px;
                    top: 40px;
                    left:0;
                }

                .date{
                    position:relative;
                }

                .date:after{
                    @include division;
                    width:280px;
                    top:60px;
                    left:0;
                }
            }
        }
    }

    .slider {
        grid-column: 2/span 2;
        grid-row: 2;
        position: relative;

        .arrows {
            justify-content: flex-end;
            padding-right: 200px;

            .arrow {
                @include center;

                height: 60px;
                width: 57px;


            }
         }
    }

    .slider:after {
        content: '';
        position: absolute;
        background-color: #dbdbdb;
        top: 0;
        left: 0;
        bottom: 0;
        width: 550px;

    }

}