.hero{
    background-color:$primary-bg-color;

    .container{

        header{

            .logo{
                 @include logo;
                
            }

            .menu-btn{
                @include navigation;

                i{
                    color:$primary-color;
                    cursor:pointer;
                }
            }
        }

        .photography{
             background-color: $primary-icon-bg-color;
             width:100px;
             height:20px;
             padding-left:10px;
             
             span{
                 font-family: $primary-font-family;
                 color:$primary-color;
                 font-size:10px;
                 line-height:18px;
                 font-weight:400;
             }
        } 

        .smaller{
            @include heading(22px, $primary-color);
            line-height:24px;
        }

        .larger{
            @include heading(24px, $primary-color);
            position:relative;
        }

        .larger::after{
            @include division;
            width:210px;
            top:40px;
            left:10px;
        }

        .date{
            display:inline-block;
            color:$primary-color;
            font-weight:300;
            line-height: 20px;
            position: relative;
        }

        .date:after{
            @include division;
            width:205px;
            top:60px;
            left:10px;
        }

        .admission{
            font-size:16px;
            font-weight:700;
            font-family:$primary-font-family;
            color:$secondary-text-color;

            .admission-icon{
                background-color:$primary-icon-bg-color;
                width:21px;
                height:21px;
                border-radius:50%;

                @include center;

                i{
                color:$primary-bg-color;
                }
            }
        }

        .hero-icons{

            .icon{

                i{
                    color:$icon-color;
                }

                i:hover{
                    @include icon-hover;
                }
            }
        }
    }
}