@mixin heading ($font-size, $color) {
    font-weight: 700;
    font-family: $primary-font-family;
    color: $color;
    font-size: $font-size;
}

@mixin logo {
    background-color: $primary-bg-color;
    border: 3px solid $primary-color;
    font-size: 26px;
    font-family: $primary-font-family;
    color: $primary-color;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin icon {
    background-color: $primary-bg-color;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}

@mixin icon-hover {
    color: $primary-icon-bg-color;
}

@mixin navigation {
    width: 63px;
    height: 59px;
    background-color: $primary-icon-bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin red-border {
    border: 7px solid $primary-bg-color;
}

@mixin mobile-grid {
    grid-template-columns: 25px 1fr 25px;
}

@mixin tablet-grid {
    grid-template-columns: 40px 344px 1fr;
}

@mixin desktop-grid {
    grid-template-columns: 200px 349px 1fr;
}

@mixin division {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #fff;
    opacity: 0.3;
}