$primary-color:#ffffff;
$secondary-text-color: #fefefe;
$dark-text-color:#222222;
$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;
$primary-bg-color:#ff4242;
$secondary-bg-color:#eeeeee;
$dark-grey-bg:#898989;
$primary-icon-bg-color:#111111;
$secondary-icon-bg-color:#e56565;
$logo-color:#acacac;
$icon-color:#fae0e0;
$underline-color:#dbdbdb;